<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="" name="description" />
  <meta content="webthemez" name="author" />
  <title>index页面</title>
  <%include css.ejs%>
</head>
<body>
<%include header.ejs%>
<!--自己负责的代码块格式-->
<div id="page-wrapper">
  <!--标题部分-->
  <div class="header">
    <!--标题-->
    <h1 class="page-header">
      Tables Page <small>Responsive tables</small>
    </h1>
    <!--面包屑导航-->
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data</li>
    </ol>
  </div>

  <!--主要内容-->
  <div id="page-inner">

    <!--写自己的模块-->1


  </div>
  <%include footer.ejs%>
</div>
<%include js.ejs%>
</body>
</html>